<div class="g-content m-server">
	
	<div class="clearfix">
		<div class="col-xs-12">
			<div class="col-xs-3">
				<div class="form-group">
					<label class="group-left control-label">终端组名称：</label>
					<div class="group-body">
						<input type="text" class="form-control" />
					</div>
				</div>
			</div>
			<div class="col-xs-3">
				<a class="btn btn-info">查询</a>
			</div>
		</div>
		<div class="col-xs-12">
			<a class="btn btn-info">新建终端组</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a class="btn btn-info">重启</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a class="btn btn-info">关机</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a class="btn btn-info">批量删除</a>
		</div>
	</div>
	
	<!--  终端概况   -->
	<div class="server-terminal m-box">
		<!--  table  -->
		<div class="m-server-table">
			<div class="table-responsive">
				<div class="dataTables_wrapper dt-bootstrap no-footer">
					<div class="dataTable_top">
					</div>
					<div class="row">
						<div class="">
							<table class="table table-striped m-b-none dataTable no-footer">
								<thead>
									<tr role="row">
										<th>终端组名称</th>
										<th>组描述</th>
										<th>镜像</th>
										<th>自动登录镜像</th>
										<th>授权用户组</th>
										<th>外设策略</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody class="ng-scope">
									<tr role="row" class="odd" ng-repeat="item in table_data.table_res.rows">
										<td>{{item.fucecode}}</td>
										<td>{{item.fucename}}</td>
										<td>{{item.fucelevel}}</td>
										<td>{{item.fuceresource}}</td>
										<td>{{item.fuceindex}}</td>
										<td>{{item.fuceindex}}</td>
										<td>{{item.fuceparentcode}}</td>
									</tr>
									<tr role="row" ng-if="table_data.table_res.rows.length < 1">
										<td class="text-center" colspan="30">未找到数据</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 col-xs-12">
							<div class="dataTables_length"><label>共76条记录，每页 
									<select ng-model="table_data.form.pageSize" ng-change="table_data.selectChanged()" class="form-control input-sm">
										<option value="10">10</option>
										<option value="25">25</option>
										<option value="50">50</option>
										<option value="100">100</option>
									</select>
									 条</label></div>
						</div>
						<div class="col-sm-6 col-xs-12 text-right">
							<pagination total-items="table_data.table_res.total" items-per-page="table_data.form.pageSize" ng-change="table_data.pageChanged()" ng-model="table_data.form.page" max-size="table_data.table_res.maxSize" num-pages="table_data.table_res.numPages" class="pagination-sm m-t-none m-b-none" boundary-links="true" rotate="false"></pagination>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>