<!--  移动到用户组   -->

<div class="modal-header g-modal-header" modal-move>
	<button type="button" class="close"  ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title"></h4>
</div>
<div class="modal-body g-modal-body m-modal-serverno">
	<div class="body-body">
		<div class="modal-body-title">移动到终端组</div>
		<div class="body-main">
			<form class="">
				<div class="m-modal-form row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="group-left control-label">终端组：</label>
							<div class="group-body">
								<ui-select ng-model="terminals.item" ng-change="terminalsChange(terminals.item)" theme="bootstrap">
									<ui-select-match placeholder="选择用户组">{{$select.selected.name}}</ui-select-match>
									<ui-select-choices group-by="'group'" repeat="item in terminals.items | filter: $select.search">
										<span ng-bind-html="item.name | highlight: $select.search"></span>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


<div class="modal-footer g-modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
    <button type="button" class="btn btn-info" ng-click="ok()" submit-timeout>确定</button>
  </div>