<!--  点击开户部署模式  弹窗   -->

<div class="modal-header g-modal-header" modal-move>
	<button type="button" class="close"  ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title"></h4>
</div>
<div class="modal-body g-modal-body m-modal-serverno">
	<div class="body-body">
		<div class="modal-body-title">确定开启部署模式？</div>
		<div class="body-main">
			<p>请输入管理员确认密码</p>
			<input type="password" ng-model="form.pwd" maxlength="64" class="form-control" />
		</div>
	</div>
</div>


<div class="modal-footer g-modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
    <button type="button" class="btn btn-info" ng-click="ok()" submit-timeout>确定</button>
  </div>