<div class="m-login" ng-controller="SigninFormController" ng-init="app.settings.container = false;">
	<div class="login-bg"></div>
	<div class="container w-xxl w-auto-xs">
	  <a href class="navbar-brand block m-t">{{app.name}}</a>
	  <div class="line line-dashed"></div>
	  <div class="m-b-lg">
	    <form name="form" class="form-validation">
	      <div class="list-group list-group-sm">
	        <div class="list-group-item">
	        	<i class="fa fa-user"></i>
	          <input type="text" placeholder="请输入用户名" class="form-control no-border" ng-model="user.user" required>
	        </div>
	        <div class="line-border"></div>
	        <div class="list-group-item">
	        	<i class="fa fa-lock"></i>
	           <input type="password" placeholder="请输入密码" class="form-control no-border" ng-model="user.pwd" required>
	        </div>
	      </div>
	      <div class="text-danger wrapper-xs text-center" ng-show="authError">
	          {{authError}}
	      </div>
	      <div>
	      	<label class="checkbox i-checks">
	          <input type="checkbox" ng-model="user.checked_time"><i></i>
	          记住密码
	        </label>
	      </div>
	      <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login()" ng-disabled='form.$invalid'><i ng-hide="logining" class="fa fa-spin fa-spinner"></i>登录</button>
	    </form>
	  </div>
	  <div class="text-center" ng-include="'tpl/blocks/page_footer.html'"></div>
	</div>
</div>
