<!--  添加修改用户组   -->

<div class="modal-header g-modal-header" modal-move>
	<button type="button" class="close"  ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title"></h4>
</div>
<div class="modal-body g-modal-body m-modal-serverno">
	<div class="body-body">
		<div class="modal-body-title">{{items.operate == 'edit' ? '修改用户组' : '新建用户组'}}</div>
		<div class="body-main">
			<form class="">
				<div class="m-modal-form row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="group-left control-label">用户组名：</label>
							<div class="group-body">
								<input type="text" ng-model="form.name" ng-disabled="items.operate != 'add'" class="form-control" maxlength="16" placeholder="输入用户组名" />
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="form-group">
							<label class="group-left control-label">镜像授权：</label>
							<div class="group-body">
								<ui-select multiple ng-model="imgs.item" ng-change="imgsChange(imgs.item)" theme="bootstrap" ng-disabled="disabled">
						            <ui-select-match placeholder="选择镜像">{{$item.imgs_ids.name}}</ui-select-match>
						            <ui-select-choices group-by="someGroupFn" repeat="item in imgs.items | propsFilter: {name: $select.search}">
						            	<div ng-bind-html="item.imgs_ids.name | highlight: $select.search"></div>
						            </ui-select-choices>
						        </ui-select>
							</div>
						</div>
					</div>
					<!--<div class="col-xs-12">
						<div class="form-group">
							<label class="group-left control-label">网盘大小：</label>
							<div class="group-body">
								<input type="number" ng-model="form.diskSize" class="form-control" maxlength="10" placeholder="输入网盘大小" />
							</div>
						</div>
					</div>-->
					
					<!--   外设策略    -->
					<div class="col-xs-12">
						<div class="form-group">
							<label class="group-left control-label">外设策略：</label>
							<div class="group-body" ng-if="items.scope.app.DevMode == 0">
								<ui-select multiple ng-model="devRule.item" ng-change="devRuleChange(devRule.item)" theme="bootstrap">
						            <ui-select-match placeholder="选择外设策略">{{$item.name}}</ui-select-match>
						            <ui-select-choices group-by="someGroupFn" repeat="item in devRule.items | propsFilter: {name: $select.search}">
						            	<div ng-bind-html="item.name | highlight: $select.search"></div>
						            </ui-select-choices>
						        </ui-select>
							</div>
							<div class="group-body" ng-if="items.scope.app.DevMode != 0">
								<input type="text" class="form-control" disabled="disabled" maxlength="16" value="当前策略为“终端组”" />
							</div>
						</div>
					</div>
					
					
					<div class="col-xs-12">
						<div class="form-group">
							<label class="group-left control-label">描述：</label>
							<div class="group-body">
								<textarea ng-model="form.desc" class="form-control" rows="3" placeholder="输入描述" maxlength="250" style="resize: vertical;"></textarea>
							</div>
						</div>
					</div>
					
				</div>
			</form>
		</div>
	</div>
</div>


<div class="modal-footer g-modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
    <button type="button" class="btn btn-info" ng-click="ok()" submit-timeout>确定</button>
</div>